.cards-container-container {
  min-height: calc(100vh - 4.5rem);
  height: 100%;
  background-color: $gray-900;
  width: 100vw;
  overflow: scroll;
  
  .cards-container-wrapper {
    padding: 0 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    width: 49rem;
    // width: 100%;
  }

  section {
    .section-title {
      display: flex;
      align-items: center;
      padding: 0.75rem 0;
      color: $white;

      .section-title-content {
        display: flex;
        align-items: center;
        padding: 0.125rem 0.5rem;
        border-radius: 8px;

        span {
          color: $gray-400;
          font-size: .6875rem;
          margin-left: .5rem;
          font-weight: 500;
        }
        
        &#title-todo {
          background-color: rgb(61, 61, 23);
        }
        &#title-doing {
          background-color: rgb(21, 58, 73);
        }
        &#title-done {
          background-color: #183f38;
        }
      }

    }

    .cards-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .rodal-container {
    #rodal-edit-task {
      width: clamp(10rem, 90vw, 30rem) !important;
      padding: 0;
      margin: auto;
      padding: 1rem;
      background-color: $gray-800;
      border-radius: 12px;
      overflow: hidden;
      color: $gray-100;
      filter: drop-shadow(2px 2px 10px #000000);
    }
  }
}

.light-mode {
  background-color: $gray-100;
  
  section {
    .section-title {
      color: $gray-900;

      .section-title-content {

        span {
          color: $gray-800;
        }

        &#title-todo {
          background-color: rgb(255, 254, 222);
        }
        &#title-doing {
          background-color: rgb(220, 245, 255);
        }
        &#title-done {
          background-color: #d8fff8;
        }
      }

    }
  }

  .rodal-container {
    #rodal-edit-task {
      background-color: $gray-100;
      color: $gray-900;
      filter: drop-shadow(2px 2px 10px #000000);
    }
  }
}