.board-selector-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0;
  font-size: 0.75rem;

  &.light-mode {
    background-color: transparent;
  }

  svg { z-index: 2; }

  span { z-index: 2; }
}

.selected {
  &::after {
    position: absolute;
    left: -1rem;
    top: 0;
    content: "";
    width: 18rem;
    height: 100%;
    background-color: $blue-600;
    border-radius: 0 20px 20px 0;
    z-index: 1;
  }

  &.light-mode {
    color: $white;
  }
}