// Color Palette
$white: #fafafa;
$gray-100: #e0e0e0;
$gray-400: #aaaaaa;
$blue-600: #24549b;
$blue-900: #011936;
$purple-100: #d2d4e4;
$gray-800: #2C2C38;
$gray-900: #21212D;

// Font
$font-primary: 'DM Sans', sans-serif;

$assets-path: '../assets';

// Media Variables
$tablet-size: "min-width: 510px";
$notebook-size: "min-width: 768px";
$desktop-size: "min-width: 1024px";

@mixin responsive-padding($pt: 0, $pb: 0) {
  padding: $pt 0.75rem $pb;

  @media only screen and ($tablet-size) {
    padding: $pt 4rem $pb;
  }
  @media only screen and ($notebook-size) {
    padding: $pt 6rem $pb;
  }
  @media only screen and ($desktop-size) {
    padding: $pt calc(8rem + 10vw) $pb;
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent; // remove color highlight on tap

  // Remove arrows/spinners from numeric inputs
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    appearance: textfield;
  }
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
  width: fit-content;
  height: fit-content;
  &:focus-visible, &:focus-within, &:focus, &:active, &:target {
    border: 0;
    outline: 0;
    background-color: transparent;
  }
}

@import '../components/Sidebar/Sidebar';
@import '../components/BoardSelector/BoardSelector';
@import '../components/Header/Header';
@import '../components/CardsContainer/CardsContainer';
@import '../components/KanCard/KanCard';
@import '../components/Login/Login';
@import '../components/HeaderMenu/HeaderMenu';
@import '../components/LightModeButton/LightModeButton';
@import '../css/Home';