.new-task-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      cursor: pointer;
    }
  }

  textarea {
    margin-top: 1rem;
    padding: 0.25rem;
    border-radius: 4px;
    border: 0;
    resize: none;
  }

  select {
    background-color: $white;
    height: 1.75rem;
    margin-top: 1rem;
    border-radius: 4px;
    border: 0;
  }
}